#container
{
	width:75%;
	margin: auto;
}

#footer
{
	background-color: #347BAD;
}

#hover, #hoverglow {
    cursor: pointer;
    transition: 0.3s;
}

#hover:hover {opacity: 0.7;}

#hoverglow:hover {
	opacity: 0.7;
	background-color: #E4F3F6;
}

#top-button{
	float:right;
	margin-top:-5px;
}

.home-name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.body-right{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 18px;
	float: right;
}

.body-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: justify;
}

.bp {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:18px;
	padding-top: 5px;
	line-height: 25px;
	margin-top:-18px;
}
	
.buttont{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: white;
	border-radius: 7px;
	background-color: #347BAD;
	border: 2px solid #347BAD;
}	
	
.button-container
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	font-size:8px;
	padding-bottom:20px;
}

.eslami {
	font-family: "Galano Grotesque DEMO";
	font-size: xx-large;
	color: #347BAD;
}

.footer-container
{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	font-size:8px;
}

.footer-text{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-decoration: underline;
	color: white;
	border-radius: 7px;
	background-color: #347BAD;
	border: 2px solid #347BAD;
}	



.titlebar {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:large;
	padding-top: 8px;
	border-bottom-style:groove;
	background-color: #E4F3F6;
}

.mandro {
	font-family: "Lato Thin";
	font-size: xx-large;
	color: #347BAD;
}

.researcht{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: justify;
	padding-top:10px;

}

.resume-but-container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	font-size:15px;
}


.resume-but{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	background-color:white;
	border:0px;
	color: #347BAD;
}

.resume-name{
	font-family: 'Montserrat', sans-serif;
	font-size: xx-large;
	text-align: center;
	margin-top: 10px;
}

.resume-pdf{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #347BAD;
}


.resumet{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
}


.sub-header {
	font-family: "Lato Light";
	color: #347BAD;
	border-bottom-style: solid;
}

.subt {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
	font-size:20px;
	padding-top:10px;
	
}
		
.tothetop {
	href:"#";
	float:right;
	margin-top:-5px;
	method="post";
}

/* /////////////////////////// MODAL ////////////////////////////// */

#myImg,
#myImg2 {
    /* border-radius: 5px; */
    cursor: pointer;
    transition: 0.3s;
}


#myImg:hover,
#myImg2:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 19%;
}


.modal-content2 {
    margin: auto;
    display: block;
    width: 18%;
}


/* Caption of Modal Image */
#caption,
#caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */
.modal-content, .modal-content2,
  #caption,
  #caption2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


/* The Close Button */
.close,
.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}





    